ENV=local
APP_PORT=8801

JWT_SECRET=iGSpuiPe6YubU7TRu0NZ8dHBUutMIXZvn194MHyfhFwQJ4VTNYNn1qErusfNdgTD
TOKEN_EXPIRATION_TIME=6

REDIS_HOST=localhost:7772
REDIS_PASS=

POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=my_db
POSTGRES_PORT=5432